<table>
<%#= @order.order_items.class %>
<% @order.order_items.order(created_at: :asc).each do |oi| %>
  <tr>
    <td><%= button_to "+", customers_order_path(@order), method: :patch, remote: true, params: { func: "add", order_item_id: oi.id } %>
    </td>
    <td><%= button_to "-", customers_order_path(@order), method: :patch, remote: true, params: { func: "sub", order_item_id: oi.id } %> </td>
    <td><%= oi.quantity %> x </td>
    <% if oi.variation.present? %>
      <td><%= "#{oi.name} - #{oi.variation.name}"%></td>
    <% else %>
      <td><%= oi.name %></td>
    <% end %>

    <% if oi.order_add_ons.present? %>
      <td><%= (oi.price + oi.order_add_ons.pluck(:price).sum) * oi.quantity %> </td>
      <% oi.order_add_ons.each do |add_on| %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= "+ #{add_on.name}" %></td>
        </tr>
      <% end %>
    
    <% else %>
      <td><%= oi.price * oi.quantity %> </td>
    <% end %>
    <td><%= button_to "x", delete_cart_row_customers_order_path(@order), method: :delete, remote: true, params: {order_item_id: oi.id } %> </td>
    
  </tr>
<% end %>
</table>

<div><%= button_to "Delete All", customers_order_path(@order), method: :delete, remote: true, data: {confirm: "Are you sure to clear cart?"} %> </div>
