<h2> Active Orders</h2>
<ul>
<% @orders.where(status: "in_process").order(created_at: :desc).each do |order| %>
  <li>
    <h3> <%= order.order_items.first.menu_item.category.restaurant.name %> </h3>
    <%= order.created_at %>
    <div class ="total" style="margin-left: 250px;margin-top: -18px"> <%= "Rs #{order.sub_total}" %></div>
    <div class ="view_order" style="margin-left: 250px" >
      <%= button_to "View", customers_restaurant_path(order.order_items.first.menu_item.category.restaurant), method: :get, params: {order_id: order.id, func: "view_order"} %> </div>

    <div class ="delete_order" style="margin-left: 300px;margin-top: -19px" >
      <%= button_to "Delete", customers_order_path(order.id), method: :delete, data: {confirm: "Are you sure to delete"} %> </div>
      
    <ul>
    <% order.order_items.order(created_at: :asc).each do |oi| %>
      <li>
        <%= oi.quantity %> x 
        <% if oi.variation.present? %>
          <%= "#{oi.name} - #{oi.variation.name}"%>
        <% else %>
          <%= oi.name %>
        <% end %>
      <ul>
        <% oi.order_add_ons.each do |add_on| %>
          <li><%= "+ #{add_on.name}" %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
    </ul>
      
  </li>
<% end %>
</ul>


<h2> Past Orders </h2>
<ul>
<% @orders.where(status: "completed").order(created_at: :desc).each do |order| %>
  <li>
    <h3> <%= order.order_items.first.menu_item.category.restaurant.name %> </h3>
    <%= order.created_at %>
    <div class ="total" style="margin-left: 250px;margin-top: -18px"> <%= "Rs #{order.sub_total}" %></div>
    <div class ="re_order" style="margin-left: 250px" >
      <%= button_to "ReOrder", customers_restaurant_path(order.order_items.first.menu_item.category.restaurant), method: :get, params: {order_id: order.id, func: "re_order"} %> </div>
    <ul>
    <% order.order_items.order(created_at: :asc).each do |oi| %>
      <li>
        <%= oi.quantity %> x 
        <% if oi.variation.present? %>
          <%= "#{oi.name} - #{oi.variation.name}"%>
        <% else %>
          <%= oi.name %>
        <% end %>
      <ul>
        <% oi.order_add_ons.each do |add_on| %>
          <li><%= "+ #{add_on.name}" %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
    </ul>
      
  </li>
<% end %>
</ul>