<%= render 'owners/shared/error_messages', resource: @restaurant %>
<%= form_for [:owners, @restaurant] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </p>
  
  <p>
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </p>
  
  <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </p>
  
  <p>
    <%= form.label :tags %><br>
    <%= form.text_area :tags %>
  </p>
  
  <p>
    <%= form.label :delivery_time %><br>
    <%= form.text_area :delivery_time %>
  </p>
  
  <p>
    <%= form.label :delivery_fee %><br>
    <%= form.text_field :delivery_fee %>
  </p>
   
  <p>
    <%= form.submit %>
  </p>

<% end %>

<!-- <#%= link_to "Back to home page", restaurants_path %> -->