<%= render 'owners/shared/error_messages', resource: @restaurant %>
<%= form_for [:owners, @restaurant] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :city %>
    <%= f.text_field :city %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div>
    <%= f.label :tags %>
    <%= f.text_area :tags %>
    <%= f.label :delivery_time %>
    <%= f.text_area :delivery_time %>
    <%= f.label :delivery_fee %>
    <%= f.text_field :delivery_fee %>
  </div>

  <h3>Category Section</h3>
    <div id='cat_items'>
      <%= f.fields_for :categories do |cat| %>
        <%= render 'category_fields', :f => cat %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add Category', f, :categories %>
      </div>
    </div>

  <%= f.submit %>
  
<% end %>

<!-- <#%= link_to "Back to home page", restaurants_path %> -->