	<div>
		<strong><%= @restaurant.name %></strong> <pre><%= @restaurant.price %></pre>
		<br>
		<%= @restaurant.address %>
		<br>
		<%= @restaurant.city %>
		
		
	
	<div>
		<strong>Tags:</strong>
		<%= @restaurant.tags %>
	</div><br>

	<div>
		<strong>Delivery Time:</strong>
		<%= @restaurant.delivery_time %>
	</div><br>

	<div>
		<strong>Delivery Fee:</strong>
		<%= @restaurant.delivery_fee %>
	</div>
	<br>
	
	<table>
  
  <% @restaurant.categories.each do |category| %>
    <tr>
      <th><h3><%= category.name %></h3></th>
      <tr>
        <th><pr>Image                 </pr></th>
        <th><pre>Item Name            </pre></th>
        <th><pre>Price                </pre></th>
        <th><pre>Description          </pre></th>
        <% category.menu_items.with_attached_images.each do |item| %>
          <tr>
            <% if item.images.attached? %>
              <td><%= image_tag item.images.first, style: "width: 50px;eight: 50px;" %>
            <% else %>
              <td></td>
            <% end %> 
            <td> <%= item.name %> </td>
            <% if item.variations.count > 0 %>
              <td> Starting From <%= item.variations.order(:price).first.price.to_i%> Rs</td>
            <% else %>
              <td> <%= item.price %></td>
            <% end %>
            <td> <%= item.note %> </td>
            <!-- <td> <%#= link_to "Edit", edit_owners_restaurant_path(item) %></td> -->
            <!-- <td> <%#= link_to "Delete", owners_restaurant_path(item), method: :delete, data: {confirm: "Are you sure to delete?"} %> </td>
                -->
          </tr>
        </tr>
      <% end %>
      <!-- <td><%#= article.text %></td>
       <td><%#= link_to 'Show', article_path(article) %></td>-->
    </tr>
  <% end %>
</table>
<%#= link_to "Update Menu", edit_owners_restaurant_path(@restaurant) %>
<%#= link_to "Delete", owners_restaurant_path(@restaurant), method: :delete, data: {confirm: "Are you sure to delete?" } %>

<%#= link_to "Back to home page", owners_dashboard_index_path %>
