<h3> Category </h3>
<%= form_for [:owners, @category] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>

  <h3>Menu Items</h3>
  <div id='menu_items'>
    <%= f.fields_for :menu_items do |menu| %>
      <%= render 'menu_item_fields', :f => menu %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add Menu Items', f, :menu_items %>
    </div>
  </div>

  <!-- <div id='variations'>
    <%#= f.fields_for :variations do |variation| %>
      <%#= render 'variation_fields', :f => variation %>
    <#% end %>
    <div class='links'>
      <%#= link_to_add_association 'add Variation', f, :variations %>
    </div>
  </div>

  <div id='addons'>
    <%#= f.fields_for :add_ons do |add| %>
      <%#= render 'add_on_fields', :f => add %>
    <#% end %>
    <div class='links'>
      <%#= link_to_add_association 'add Add-On', f, :add_ons %>
    </div>
  </div>
 -->
  <% if func == "create" %>
    <%= f.submit 'Save' %>
  <% else %>
    <%= f.submit 'Update' %>
  <% end %>
<% end %>