<div class="flex items-center" >

<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "field-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input" %>
  </div>

  <div class="mb-6">
    <%= f.label :password, class: "field-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "field-input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="md:flex md:items-center mb-6">
        <%= f.check_box :remember_me, class: "checkbox_input" %>
        <%= f.label :remember_me, class: "checkbox_label" %>
    </div>
  <% end %>

  <div class="flex items-center justify-between">
    <%= f.submit "Log in", class: "btn btn-blue" %>
  </div>
<% end %>

</div>
<%= render "customers/shared/links" %>

