<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, class: "field-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-input" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "field-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "field-input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="md:flex md:items-center mb-6">
      <%= f.check_box :remember_me, class: "checkbox_input" %>
      <%= f.label :remember_me, class: "checkbox_label" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "btn btn-blue" %>
  </div>
<% end %>

<%= render "owners/shared/links" %>
